extends layout
    
block body

  nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
      div.container
          div.navbar-header
              button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
          div.collapse.navbar-collapse.navHeaderCollapse#bs-example-navbar-collapse-1
              ul.nav.navbar-nav
                  li.active#aboutme 
                      h3 Om mig
                  li#politic 
                      h3 Min politik
                  li
                      h3
                          a(href="/blogg") Blogg
  .maintron.index(style="position: relative;", data-stellar-background-ratio="0.5")
    div.layer-index
      .container(style="margin-top: 200px;")
        h1(style="color: white !important;") (17) Alexandra Puccini.
        h3(style="color: white !important;") Kandidat till landstingsfullmäktige 2014 Södermalm - Enskede
      div.arrow-down              
  .section.pull-down
      .container
          .row
              .col-md-6.text-about#aboutme-scroll
                  h2 Mer kunskap för frågan om vård till sällsynta diagnosgrupper.
                  p
                      |Mitt intresse och det jag driver för  är att förmedla mer kunskap om vård till 
                      |sällsynta diagnosgrupper, och att sprida kompetens om de mindre handikappsgrupperna.
                  p
                      |Jag tror på att nya insatser kan införas och förbättra situationen 
                      |på arbetsmarknaden för funktionshindrade med nedsatt arbetsförmåga.
                  p
                      |De ska inte bedömas på samma sätt som en frisk arbetssökande. Funktionshindrade personer 
                      |ska ha samma möjligheter som övriga i samhället att delta i arbetslivet  och vi måste hitta 
                      |en gemensam utgångspunkt för att öka arbetsgivares vilja att anställa funktionshindrade med nedsatt arbetsförmåga.
                  p
                    |Ett samhälle där varje individ ges möjlighet till personling utveckling, ger också mer till andra i samhället. 
                    |Därför tror jag att prioritering av familj, skola och välfärd blir ett viktigt steg för att komma vidare!
                      
                  //- p
                  //-     |2003 startade jag den svensk colombianska föreingen Macondo. 
                  //-     |Macondo fungerar som en naturlig länk mellan det svenska och det latinoamerikanska samhället.
                  //- p
                  //-     |2008 Startade jag företaget eventföretaget Salsatropical.
                  //-     |Salsatropical 
              .col-md-6
                  img.img-responsive(src="img/alexandra_puccini3.jpg")
          .row.pull-down
              div.cbp-qtrotator#cbp-qtrotator
                      div.cbp-qtcontent
                          img(src="img/moderaterna-logo.jpg", style="height: 150px; width: 150px;")
                          blockquote
                              p
                                  | Man bör respektera landets kultur och i sin tur bli respekterad för den man själv är.
                                  footer
                                      |Alexandra Puccini
                      div.cbp-qtcontent
                          img(src="img/nya-moderaterna-logo.png", style="height: 150px; width: 150px;")
                          blockquote
                              p
                                  |Jag tycker att som invandrare så bör man ta till sig den kulturen som landet man flyttar till har. 
                                  footer
                                      |Alexandra Puccini
                      div.cbp-qtcontent
                          img(src="img/alla-behovs-logo.jpg", style="height: 150px; width: 150px;")
                          blockquote
                              p
                                  |Den som känner igen sina misstag går mot visdom.
                                  footer
                                      |Colombianskt ordspråk
                  
  .section.parallax01(style="height:700px; position:relative;", data-stellar-background-ratio="0.8")
    div.layer-index(style="text-align: center;")
      .container(style="margin-top: 200px;")
        h1(style="color: white !important;") Gemenskap.
        h3(style="color: white !important; font-family: 'Open Sans', sans-serif !important;") Alla behövs. 
  .section
      .container
          .row.text#politic-scroll
            .col-xs-12
                  h2 Min resa
                  p
                    |Jag är född och uppvuxen i Colombia men jag har dom senaste 26 åren bott i Sverige. 
                    |Från Colombia så flyttade jag till den italienska byn Toscana där min pappas familj kommer ifrån, därav namnet Puccini.
                    |Efter Toscana så begav min resa mot Madrid i Spanien där jag träffade min föredetta man som var där på språkresa.
                    |Jag flyttade med honom till Sverige, och till slut hamnade jag i den vackra huvudstaden Stockholm. 
                    |Jag är nu gift och mor till fyra vackra barn, tre pojkar och en flicka.
                    |Jag valde att bli politiskt aktiv för möjligheten att påverka och inspirera samhället till det bättre.
                    |Jag får också möjligheten att träffa andra engagerande och fantastiska människor som strävar mot
                    |ett bättre samhälle. Och tillsammans är det möjligt!


                      
  .section.parallax02(style="height:600px; position: relative;", data-stellar-background-ratio="0.8")
      div.layer
        .container.pull-down
          .row
            h3.center Nå mig på sociala medier.
            .col-md-2
            .col-md-2.center
              a(href="https://twitter.com/puccinialexa", target="_blank")
                img(src="img/twitter-logo.png")
            .col-md-2.center
              img(src="img/googleplus-logo.png")
            .col-md-2.center
              a(href="https://www.facebook.com/alexandra.puccini1?ref=ts&fref=ts", target="_blank")
                img(src="img/facebook-logo.png")
            .col-md-2.center
              a(href="http://instagram.com/alexandrapuccini", target="_blank")
                img(src="img/instagram-logo.png")
        .container.bottom
              .row
                .col-xs-2
                .col-xs-10.list
                  ul.campaign-drag-right
                    li 
                      p alexandra.puccini@moderat.se
                    li
                      p +46 704 44 36 72 
                    
            
                                          



  script.
      if(!Modernizr.touch){$(window).stellar({ horizontalScrolling: false });}
      $("#aboutme").click(function() {$('html, body').animate({scrollTop: $("#aboutme-scroll").offset().top}, 2000);});
      $("#politic").click(function() {$('html, body').animate({scrollTop: $("#politic-scroll").offset().top}, 2000);});
      (function(c,b,e){var d=b.Modernizr;c.CBPQTRotator=function(f,g){this.$el=c(g);this._init(f)};c.CBPQTRotator.defaults={speed:700,easing:"ease",interval:8000};c.CBPQTRotator.prototype={_init:function(f){this.options=c.extend(true,{},c.CBPQTRotator.defaults,f);this._config();this.$items.eq(this.current).addClass("cbp-qtcurrent");if(this.support){this._setTransition()}this._startRotator()},_config:function(){this.$items=this.$el.children("div.cbp-qtcontent");this.itemsCount=this.$items.length;this.current=0;this.support=d.csstransitions;if(this.support){this.$progress=c('<span class="cbp-qtprogress"></span>').appendTo(this.$el)}},_setTransition:function(){setTimeout(c.proxy(function(){this.$items.css("transition","opacity "+this.options.speed+"ms "+this.options.easing)},this),25)},_startRotator:function(){if(this.support){this._startProgress()}setTimeout(c.proxy(function(){if(this.support){this._resetProgress()}this._next();this._startRotator()},this),this.options.interval)},_next:function(){this.$items.eq(this.current).removeClass("cbp-qtcurrent");this.current=this.current<this.itemsCount-1?this.current+1:0;this.$items.eq(this.current).addClass("cbp-qtcurrent")},_startProgress:function(){setTimeout(c.proxy(function(){this.$progress.css({transition:"width "+this.options.interval+"ms linear",width:"100%"})},this),25)},_resetProgress:function(){this.$progress.css({transition:"none",width:"0%"})},destroy:function(){if(this.support){this.$items.css("transition","none");this.$progress.remove()}this.$items.removeClass("cbp-qtcurrent").css({position:"relative","z-index":100,"pointer-events":"auto",opacity:1})}};var a=function(f){if(b.console){b.console.error(f)}};c.fn.cbpQTRotator=function(g){if(typeof g==="string"){var f=Array.prototype.slice.call(arguments,1);this.each(function(){var h=c.data(this,"cbpQTRotator");if(!h){a("cannot call methods on cbpQTRotator prior to initialization; attempted to call method '"+g+"'");return}if(!c.isFunction(h[g])||g.charAt(0)==="_"){a("no such method '"+g+"' for cbpQTRotator instance");return}h[g].apply(h,f)})}else{this.each(function(){var h=c.data(this,"cbpQTRotator");if(h){h._init()}else{h=c.data(this,"cbpQTRotator",new c.CBPQTRotator(g,this))}})}return this}})(jQuery,window);
      $( '#cbp-qtrotator' ).cbpQTRotator();

